.hero__box{
    background-color: azure;
    height: 250px;
    border: 1px solid black;
    border-radius: 25px;

}

.hero__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    padding-top: 100px;
}
    